#block-text.block
  .content
    %h2.title Dashboard
    .inner
      <script src="http://www.gmodules.com/ig/ifr?url=http://widgets.getclicky.com/igdash/clicky.xml&amp;up_siteName=cowpu.org&amp;up_siteID=220101&amp;up_siteKey=436791d2bc58fded&amp;up_resultLimit=15&amp;up_showKeywords=1&amp;up_showEngines=1&amp;up_initalSelection=0-summary&amp;up_showPercent=1&amp;synd=open&amp;w=635&amp;h=250&amp;title=Clicky+Stats&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js"></script>

-content_for :sidebar, partial("base/sidebar")