.group
  =f.label :title
  =f.error_message_on :title
  =f.text_field :title, :class => :text_field
  %span.description Ex: a simple text
  
.group
  =f.label :tag_collection
  =f.error_message_on :tag_collection
  =f.text_field :tag_collection, :class => :text_field
  %span.description Ex: meeting, books, fun

.group
  =f.label :body
  =f.error_message_on :body
  =f.text_area :body, :class => :editor
  %span.description Ex: a simple text

.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:posts, :index)}';return false", :class => :button
  
:javascript
  $('textarea.editor').ckeditor({toolbar: [['Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-', 'Link', 'Unlink','-','About']]});
