%h1 COWPU Members Directory
%p We are in the process of building out a directory of our members.  The goal of this is to have a place to lookup other web folks in the local community who have similar interests, or perhaps can help you out with a project or answer some simple questions.
%p Signing up is easy, and *free*!  Add yourself to the directory today, <a href="/members/signup">register here</a>.
